/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #010608;
    --color01: #7d9b8b;
    --color02: #9acbc6;
    --color03: #c3fcf1;
    --color04: #5f8491;
    --color05: #88afc8;
    --color06: #a4e4ea;
    --color07: #A6D5D0;
    --color08: #61696b;
    --color09: #8db39e;
    --color10: #a5e5df;
    --color11: #bafff5;
    --color12: #6c9aab;
    --color13: #94c6e7;
    --color14: #aefeff;
    --color15: #eaf8fa;
}
